@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face{
    font-family:'Roboto';
    src:url(https://fonts.google.com/specimen/Roboto)
}
*{
    font-family: "Roboto", sans-serif;
}
.container{
    display: flexbox;
    flex-direction: column;
    flex-flow: column-wrap
}
.item2{
    flex-grow: 2
}
div.Ideas{
    color:blueviolet
}
@media (width:1000px){
    div{
        color:blue;
    }
}
.gridcontainer{
    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px
}
#Title{
    color:blue
}
.Ideas{
    color:rgb(100,20,30);
}
strong, b{
    display: inline-block;
    background-color: blue;
    width: 100px;
    max-width: 50px;
    height: 20px;
    max-height: 10px;
    color:#370
}
nav li{
    color:hsla(100,20,30)
}
section > h2{
    color: white;
    background-color: rgb(0, 0, 0)
}
#Begin{
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-top:.5em;
    padding-right:.5em;
    padding-left: .5em;
    padding-bottom:.5em;
    border: 2px;
    border-style: dotted;
    border-color:pink;
    border-width:10px;
    border-radius:10px
}
span[style="color:biege"]{
    display:block
}

footer{ 
    left:20px
}
h2 + img:hover{
    box-shadow: 10px 5px 5px purple;

}
h2 + img:active{
    box-shadow: 10px 5px 5px orange;
}
div ~ h1{
    text-align: end
}
.Ideas{
    background-color: aliceblue;
}
#ideasCollection{
    position: relative;
    background-color: red;
    padding: 1000px 1000px 1000px 1000px
}
#idea1{
    position: absolute;
    left: 500px;
    padding: 20px 20px 20px 20px
}
#idea2{
    position: absolute;
    margin: auto;
    left: 800px
}
#idea3{
    position: absolute;
    margin: 10px 10px 10px 10px;
    left: 600px
}
#idea4{
    position: absolute;
    left: 1050px;
    text-decoration: underline dotted;
}
