#Title{
    color:blue
}
.Ideas{
    color:rgb(100,20,30)
}
strong, b{
    color:#370
}
nav li{
    color:hsla(100,20,30)
}
section > h2{
    color: white;
    background-color: rgb(0, 0, 0)
}
#Begin{
    display:block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-top:.5em;
    padding-right:.5em;
    padding-left: .5em;
    padding-bottom:.5em;
    border: 2px;
    border-style: dotted;
    border-color:pink;
    border-width:10px;
    border-radius:10px
}
footer{ 
    display:inline;
    position: relative;
}
h2 + img:hover{
  box-shadow: 10px 5px 5px purple;

}
/*
{
    margin: 0px 0px 10px 1px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    left: 6 in;
    height: 30 vw;
    max-width: 30 vw;
    min-width: 20 vw
}
*/

div ~ h1{
    text-align: end
}
ol.Ideas{
    display:inline;
    text-decoration: underline dotted
}
    
